[Unit]
Description=Barricade Firewall.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/bfw
Restart=always

[Install]
WantedBy=multi-user.target
